Repository strata-org/Strata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @strata-org/reviewers, @andrewmwells-amazon, @atomb, @joehendrix, @shigoel

Initial progress towards denoting Lambda expressions into Lean
  Strata/DL/Lambda/Reflect.lean
Owners: @shigoel

Simpler and more complete output from StrataVerify
  Strata/DL/Imperative/CmdEval.lean
  Strata/Languages/Boogie/Boogie.lean
  Strata/Languages/Boogie/CmdEval.lean
  Strata/Languages/Boogie/Env.lean
  Strata/Languages/Boogie/Examples/AdvancedQuantifiers.lean
  Strata/Languages/Boogie/Examples/FreeRequireEnsure.lean
  Strata/Languages/Boogie/Examples/Functions.lean
  Strata/Languages/Boogie/Examples/Goto.lean
  Strata/Languages/Boogie/Examples/Havoc.lean
  Strata/Languages/Boogie/Examples/Map.lean
  Strata/Languages/Boogie/Examples/OldExpressions.lean
  Strata/Languages/Boogie/Examples/ProcedureCall.lean
  Strata/Languages/Boogie/Examples/Quantifiers.lean
  Strata/Languages/Boogie/Examples/QuantifiersWithTypeAliases.lean
  Strata/Languages/Boogie/Examples/RealBitVector.lean
  Strata/Languages/Boogie/Examples/SimpleProc.lean
  Strata/Languages/Boogie/Examples/String.lean
  Strata/Languages/Boogie/Examples/TypeDecl.lean
  Strata/Languages/Boogie/Examples/UnreachableAssert.lean
  Strata/Languages/Boogie/ProcedureEval.lean
  Strata/Languages/Boogie/SMTEncoder.lean
  Strata/Languages/Boogie/Verifier.lean
  Strata/Languages/C_Simp/Examples/LoopSimple.lean
  Strata/Languages/C_Simp/Examples/LoopTrivial.lean
  Strata/Languages/C_Simp/Examples/Min.lean
  Strata/Languages/C_Simp/Examples/SimpleTest.lean
  Strata/Languages/C_Simp/Examples/Trivial.lean
  Strata/Languages/C_Simp/Verify.lean
  StrataTest/DL/Imperative/Arith.lean
  StrataTest/DL/Imperative/ArithEval.lean
  StrataTest/DL/Imperative/Verify.lean
  StrataTest/Languages/Boogie/ProgramTypeTests.lean
  StrataTest/Languages/Boogie/StatementEvalTests.lean
  StrataVerify.lean
Owners: @atomb, @shigoel, @andrewmwells-amazon, @strata-org/reviewers

Add missing file
  Strata/Languages/Boogie/Options.lean
Owners: @atomb, @shigoel

Add DDM support for special comment annotations.
  Strata/DDM/Parser.lean
  StrataTest/DDM/Comment.lean
Owners: @joehendrix

Add boolean literals to ArithPrograms
  StrataTest/DL/Imperative/Arith.lean
  StrataTest/DL/Imperative/ArithEval.lean
  StrataTest/DL/Imperative/ArithExpr.lean
  StrataTest/DL/Imperative/ArithType.lean
  StrataTest/DL/Imperative/DDMDefinition.lean
  StrataTest/DL/Imperative/DDMTranslate.lean
  StrataTest/DL/Imperative/Examples.lean
  StrataTest/DL/Imperative/SMTEncoder.lean
  docs/GettingStarted.md
Owners: @atomb, @shigoel, @strata-org/reviewers

.github/CODEOWNERS:

# Defaults owners for everything in the repo. unless a later match
# takes precedence
*       @strata-org/reviewers

# CSimp dialect files
*.csimp.st    @andrewmwells-amazon

# Boogie dialect files
*.boogie.st    @atomb

# Tools
/Tools/BoogieToStrata/ @atomb

# DDM
/Strata/DDM/ @joehendrix
/StrataTest/DDM/ @joehendrix

# Dialects
/Strata/DL/Lambda/ @shigoel
/StrataTest/DL/Lambda/ @shigoel

/Strata/DL/Imperative/ @atomb @shigoel
/StrataTest/DL/Imperative/ @atomb @shigoel

/Strata/DL/SMT/ @andrewmwells-amazon

/Strata/DL/Utils/ @shigoel

# Languages
/Strata/Languages/Boogie/ @atomb @shigoel
/StrataTest/Languages/Boogie/ @atomb @shigoel

/Strata/Languages/C_Simp/ @andrewmwells-amazon

/Strata/Transform/ @atomb

# Documentation
/docs/ddm/ @joehendrix
